@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

#button {
  font-family: 'Silkscreen', cursive;
  font-size: 14px; /* 9px total height */
  box-sizing: border-box;
}

#button > * {
  height: inherit;
  box-sizing: border-box;
}

.crisp {
  image-rendering: crisp-edges;
}


.button-88x31 {
  width: 88px;
  height: 31px;
}

.button-x31 {
  height: 31px;
}

.button-x39 {
  height: 39px;
}
